
.nav-container{
    height: 60px;
    background-color: blueviolet;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav-container .nav-text-right-side a{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    margin: 0 24px;
}
.nav-btn-left-side button{
    color: black;
    background-color: white;
    padding: 8px 15px; 
    margin-right: 24px;
    border: none;
}

.container{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    
}
.images{
    
    width: 48%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr) ;
    gap: 10px;
   
}
.images img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.grid-item-1{
    grid-column: 1/span 6;
    grid-row: 1/span 4;
}
.grid-item-2{
    grid-column: 7/span 6;
    grid-row: 1/span 1;
}
.grid-item-3{
    grid-column: 7/span 6;
    grid-row: 2/span 1;
}
.grid-item-4{
    grid-column: 7/span 2;
    grid-row: 3/span 1;
}
.grid-item-5{
    grid-column: 9/span 2;
}
.grid-item-6{
    grid-column: 11/span 2;
}
.grid-item-7{
    grid-column: 7/span 6;
}
.content{
    width: 48%;
    padding: 5px 8px;
    margin: auto;
    
}

/* here is the style of footer  */
.footer-container{
    background-color: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
   
}
.footer-container>div{
    width: 24%;
}
.news-input{
    display: block;
    border: none;
    outline: 0;
    height: 50px;
    width: 79%;
}
.news-submit{
    margin-top: 10px;
    display: block;
    border: none;
    background-color: brown;
    outline: 0;
    height: 50px;
    width: 80%;
     
}

